/* 
FAC301 geel
FE3200 rood
/Users/norakramer/Desktop/HvA/CMD/jaar 3: minor/themasemester ID/dataweek/dataweek/img/Africa_background.png

*/


body {
  margin: 0;
  max-height: 90vh;
  background-image: url("../img/Africa_background.png");

  background-repeat: no-repeat;
  background-size: cover; 
}

body img {
  object-fit: contain;
}

section {

  padding-top: 2%;
  display: flex;
  justify-content: center;
}



div.container:first-of-type {
  /* background-color: #333; */
   height: 100vh;
  padding: 1rem;
  margin-top: 1rem;
   overflow-y: scroll;

}



.draggable {
  background-color: #FAC301;
  border: 1px solid black;
  border-radius: 5px;
   width: 80px;
   height: 60px; 

  word-break: break-all;
  /* cursor: move; */
}

.draggable.dragging {
  opacity: .5;
}

.green {
  background-color: #FAC301;
}

button:active {
  background-color: #FE3200;
}


div.container.timeline p {
  font-family: sans-serif;
  background-color: #FE3200;
  /* padding-bottom: 10%; */
  padding: .5%;
}

.timeline {
background-color: #FE3200;
position: sticky;
bottom: 0;
width: 100vw;
height: 100px;
}

/* img {
  max-width: 200px;
} */

img {
  max-width: 20%;
}

.one {
  height: calc(80px + 10px);
  width: calc(60px + 10px);
}

.two {
  height: calc(80px + 20px);
  width: calc(60px + 20px);
}

.three {
  height: calc(80px + 30px);
  width: calc(60px + 30px);
}

.four {
  height: calc(80px + 40px);
  width: calc(60px + 40px);
}

.five {
  height: calc(80px + 50px);
  width: calc(60px + 50px);
}

.six {
  height: calc(80px + 60px);
  width: calc(60px + 60px);
}

.seven {
  height: calc(80px + 70px);
  width: calc(60px + 70px);
}

.eight {
  height: calc(80px + 80px);
  width: calc(60px + 80px);
}

.nine {
  height: calc(80px + 90px);
  width: calc(60px + 90px);
}

.ten {
  height: calc(80px + 100px);
  width: calc(60px + 100px);
}

.eleven {
  height: calc(80px + 110px);
  width: calc(60px + 110px);

}

.twelve {
  height: calc(80px + 120px);
  width: calc(60px + 120px);

}

.fourteen {
  height: calc(80px + 140px);
  width: calc(60px + 140px);

}

div.container.timeline > button.draggable {
  width: 80px;
  height: 20px;
}

